/** @format */

.auth-body {
  @apply sm:bg-grey-white h-screen lg:overflow-y-hidden relative flex justify-center sm:items-center;
  max-height: -webkit-fill-available;
}

.auth-box {
  @apply sm:shadow-login sm:rounded-lg overflow-hidden bg-white lg:w-7/12 xl:w-5/12 sm:w-9/12 w-full h-screen sm:h-5/6 sm:max-h-650 overflow-y-auto relative flex flex-col sm:justify-between;
}

.final-auth-box {
  @apply sm:shadow-login sm:rounded-lg overflow-hidden bg-white lg:w-7/12 xl:w-5/12 sm:w-9/12 w-full sm:h-5/6 sm:max-h-650 overflow-y-auto relative flex flex-col justify-center;
}

.auth-box2 {
  @apply sm:shadow-login rounded-lg overflow-hidden bg-white lg:w-7/12 xl:w-5/12 sm:w-9/12 w-full sm:h-5/6 sm:max-h-650 overflow-y-auto relative flex flex-col sm:justify-between;
}

.auth-box3 {
  @apply sm:shadow-login rounded-lg overflow-hidden bg-white lg:w-7/12 xl:w-5/12 sm:w-9/12 w-full sm:h-5/6 sm:max-h-650 relative flex flex-col sm:justify-between;
}

.auth-box4 {
  @apply sm:shadow-login sm:rounded-lg overflow-hidden bg-white lg:w-7/12 xl:w-5/12 sm:w-9/12 w-full h-full sm:h-5/6 sm:max-h-650 relative flex flex-col sm:justify-between;
}

.auth-box5 {
  @apply sm:shadow-login sm:rounded-lg overflow-hidden bg-white lg:w-7/12 xl:w-5/12 sm:w-9/12 w-full h-full sm:h-5/6 sm:max-h-650 overflow-y-auto relative flex flex-col sm:justify-between;
}

.auth-input-section {
  @apply px-5 sm:px-10 py-11;
}

.auth-input-section2 {
  @apply pl-5 sm:pl-10 pt-11 h-5/6;
}

.auth-header {
  @apply flex justify-between mt-8 sm:mt-0;
}

.auth-header2 {
  @apply flex justify-between h-6;
}

.auth-step {
  @apply mt-7 mb-3 text-xs text-input-border;
  font-family: FilsonPro-Medium, sans-serif !important;
}

.auth-title {
  @apply mb-2.5;
  font-family: FilsonPro-Medium, sans-serif !important;
}

.auth-subtitle {
  @apply text-sm mb-9;
}

.modal-auth-subtitle {
  @apply text-xs mb-5;
}

.auth-footer {
  @apply w-full px-8 py-4 bg-dark-grey items-center flex;
}

.auth-footer1 {
  @apply w-full px-8 py-4 bg-dark-grey items-center md:static flex bottom-0 fixed;
}

.auth-second-option {
  @apply sm:flex text-xs items-center absolute bottom-7 hidden;
}

.mobile-auth-second-option {
  @apply mt-9 flex text-sm justify-center items-center sm:hidden;
}

.auth-text-input {
  @apply w-full py-4 px-4 border border-input-border placeholder-input-border rounded text-xs focus:outline-none;
}

.auth-text-input2 {
  @apply w-full relative z-20 bg-transparent focus:outline-none;
}

.auth-input-containter {
  @apply relative rounded border pb-2 pt-4 px-4 focus:outline-none h-14;
}

.auth-label {
  @apply absolute h-full left-4 text-input-border z-10;
}

.skip-for-now {
  @apply text-xs text-dark-grey px-3 py-2 rounded-full bg-white border border-grey-blue;
}

.ani {
  transition: all 0.3s;
}

.onboarding-container {
  height: 100vh;
  background-color: #fcfaf7;
  @media only screen and (max-width: 750px) {
  }
}

.onboarding-container2 {
  height: 100vh;
  background-color: #fcfaf7;
  @media only screen and (max-width: 750px) {
    padding: 0 20px;
  }
  @media only screen and (max-width: 450px) {
    padding: 0 0;
  }
}

.upload-container {
  width: 223px;
  height: 223px;
  background-color: #e2e8f0;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  .add-image {
    z-index: 5;
  }
}

.placeholder {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.parent-tags {
  @apply overflow-x-auto overflow-y-hidden w-full flex flex-col items-start mt-4;
  font-size: 12px;
  line-height: 22px;
  color: #252117;
}

.tags-container {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0px;
    background: transparent;
  }
}

.bell {
  width: 74px;
  height: 74px;
}
