/** @format */

.flip {
	@apply text-2-xs uppercase;
	background: linear-gradient(
			135.55deg,
			rgba(75, 170, 115, 0.8) 47.98%,
			rgba(0, 0, 0, 0) 99.06%
		),
		linear-gradient(315deg, rgba(37, 33, 23, 0.8) 0%, rgba(0, 0, 0, 0) 100%),
		#ffffff;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
}

.project-detail {
	@apply flex mt-1 items-center space-x-1;
}

.review-overlay {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.5) 27.6%,
		rgba(0, 0, 0, 0) 100%
	);
}

.review-project-bg {
	background: linear-gradient(
			135.55deg,
			rgba(75, 170, 115, 0.8) 47.98%,
			rgba(0, 0, 0, 0) 99.06%
		),
		linear-gradient(315deg, rgba(37, 33, 23, 0.8) 0%, rgba(0, 0, 0, 0) 100%),
		#ffffff;
}

.review-status-tag {
	@apply uppercase block;
	padding: 2px;
	font-size: 4px;
	line-height: 5px;
	letter-spacing: 0.05em;
	color: #252117;
	background: #ebebeb;
}

.status {
	@apply uppercase;
	font-size: 7.2px;
	line-height: 10px;
}

.clamp-name {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.review-body {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4; /* number of lines to show */
	line-clamp: 4;
	-webkit-box-orient: vertical;
	line-height: 148.8%;
}
