/** @format */

.project-container {
	@apply relative  w-full max-w-full flex-grow flex flex-col;

	.breadcrumbs {
		@apply py-7 items-center px-6 font-medium;
		font-family: FilsonPro-Medium, sans-serif !important;

		div {
			@apply text-xs;
			color: #989898;
			line-height: 17px;

			span {
				@apply text-black;
			}
		}
	}
	.header-section {
		@apply py-4 bg-white px-7 flex items-center;

		.header-text {
			@apply font-medium text-xs text-center w-full truncate;
			font-family: FilsonPro-Medium, sans-serif !important;
		}
	}
}
.select-input {
	@apply pl-3 pr-7 py-2 text-xs focus:outline-none rounded focus:border-accepted hover:border-accepted;
	border: 1px solid #edf2f7;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: white url("../public/assets/SVG/project/caret-down.svg") 95%
		center no-repeat !important;
	background-color: white;
}

.text-input {
	@apply px-3 pt-5 pb-3 text-xs focus:outline-none border border-input-border placeholder-input-border rounded;
}

.text-area {
	@apply border px-4 py-4 text-xs border-input-border rounded-lg focus:outline-none;
}

@media screen and (max-width: 1024px) {
	.project-container .content {
		padding: 0 5% !important;
	}
}

@media screen and (max-width: 788px) {
	.project-container .content {
		padding: 0 2% !important;
	}
	.nav-contents {
		overflow-x: scroll;
	}
	.navigation2 {
		position: relative;
		width: 120% !important;
		padding: 0 !important;
	}
	.border-divider {
		border-bottom: 1px solid #d5d8db;
		margin-bottom: 5px;
		margin-left: 2.8%;
		margin-right: 2.8%;
	}
}

.media-navbar {
	@apply flex justify-between items-end mb-4 overflow-x-auto px-6;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
		width: 0px;
		background: transparent;
	}

	.media-nav {
		@apply w-5/12 flex-shrink-0 sm:w-3/12 text-center py-3;

		.active-icon {
			@apply w-1 h-1 mt-1 mx-auto rounded-full bg-transparent;
		}

		p {
			@apply font-medium text-xs text-light-grey-2;
			font-family: FilsonPro-Medium, sans-serif !important;
			line-height: 17px;
		}
	}
	.media-nav-active {
		@apply text-center;

		.active-icon {
			@apply bg-dark-grey;
		}
		p {
			@apply text-black;
			font-family: FilsonPro-Medium, sans-serif !important;
		}
	}
}

.gallery {
	@apply px-6 pt-4 pb-9 flex flex-wrap;
}

.gallery__item {
	@apply w-[47.5%] sm:w-4/12 lg:w-[23.5%] rounded mt-2 h-32 overflow-hidden flex-shrink-0 px-1 mr-2 relative cursor-pointer;
}

.gallery__item:after {
	content: "\A";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.gallery__item:hover:after {
	opacity: 1;
}

.image {
	@apply object-cover rounded;
}

.newsfeed-card {
	@apply bg-white sm:rounded-lg p-4 sm:p-6 mb-2 sm:mb-10 text-dark-grey max-w-650 mx-auto;
}

.milestone-card {
	@apply bg-white sm:rounded-l-none sm:rounded-lg p-4 sm:p-6;
}

.author-details-group {
	@apply flex justify-between items-center mt-3 sm:mt-0;
}

.profile-and-date {
	@apply flex items-center lg:w-full w-10/12 space-x-3;
}

.author-name {
	@apply text-xs;
	font-family: FilsonPro-Bold, sans-serif !important;
}

.review-author-name {
	@apply text-xs font-bold truncate;
}

.post-title {
	@apply font-bold text-xs text-input-border;
	font-family: FilsonPro-Bold, sans-serif !important;
}

.update-detail {
	@apply flex items-center;
}

.feedback-avatars {
	@apply h-6 w-6 object-cover border-2 border-grey-white rounded-full;
}

.average-reaction {
	font-size: 10px;
}

.citizens-reaction {
	@apply flex lg:w-4/12 xl:justify-center space-x-3 items-center;
}

.users-comments {
	@apply text-light-grey-2;
	font-size: 10px;
}

.posted {
	font-size: 10px;
	color: #7a7a7a;
}

.location {
	font-size: 7.2px;
	color: #adadad;
}

.status-tag {
	@apply uppercase block;
	padding: 2px;
	font-size: 4px;
	line-height: 5px;
	letter-spacing: 0.05em;
	color: #252117;
	background: #ebebeb;
	box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.5),
		5px 5px 25px rgba(255, 255, 255, 0.5);
}

.status {
	@apply uppercase;
	font-size: 9px;
	line-height: 10px;
}

.project-tag-text {
	@apply uppercase whitespace-nowrap text-3-xs sm:text-2-xs;
	color: #a0afbf;
}

.view-project {
	@apply text-accepted font-bold uppercase cursor-pointer border-b border-white mt-3 hover:underline inline-block;
	font-size: 10px;
}

.text-input {
	@apply px-3 pt-5 pb-3 text-xs focus:outline-none border border-input-border placeholder-input-border rounded;
}

.text-area {
	@apply border px-4 py-4 text-xs border-input-border rounded-lg focus:outline-none;
}

.display-picture {
	@apply rounded-full h-9 w-9 overflow-hidden object-cover relative cursor-pointer;
}

.image-container {
	@apply h-32 sm:h-52 rounded-lg border border-grey-white relative flex-shrink-0 cursor-pointer;
}
.review-image-container {
	@apply h-full rounded-lg border border-grey-white relative flex-shrink-0 cursor-pointer;
}

.image-container:after,
.display-picture:after {
	object-fit: cover;
	content: "\A";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.image-container:hover:after,
.display-picture:hover:after {
	opacity: 1;
}

.post-image {
	@apply rounded-lg h-full w-full object-cover;
}

.survey-card {
	min-width: 300px;
}

@media screen and (min-width: 1024px) {
	.survey-card {
		min-width: 480px;
	}
}

.sentiment-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.6);
}

.sentiment-modal {
	@apply absolute rounded-lg top-1/2 left-1/2 right-auto bottom-auto border-0 outline-none focus:outline-none p-6 bg-white overflow-hidden max-h-650;
	transform: translate(-50%, -50%);
	margin-right: -50%;
}

.leaflet-pane {
	z-index: 10 !important;
}
.leaflet-control {
	z-index: 11 !important;
}
.leaflet-top,
.leaflet-bottom {
	z-index: 11 !important;
}
.leaflet-popup-content p {
	margin: 0 !important;
}
.leaflet-popup-content {
	margin: 0 !important;
	@media screen and (max-width: 500px) {
		width: 300px !important;
	}
	width: 500px !important;
}
.leaflet-popup-content-wrapper {
	padding: 0 !important;
}
.leaflet-marker-icon {
	z-index: 15 !important;
}

.in-modal {
	.leaflet-pane {
		z-index: 50 !important;
	}
	.leaflet-control {
		z-index: 55 !important;
	}
	.leaflet-top,
	.leaflet-bottom {
		z-index: 55 !important;
	}
	.leaflet-marker-icon {
		z-index: 55 !important;
	}
}

.hide-all-surroundings {
	box-shadow: 0px 0px 50px rgba(61, 132, 172, 0.15);
}

.project-info {
	@apply px-6;
}

.project-overview-card {
	@apply p-7 bg-white rounded-xl overflow-hidden;
}

.project-name {
	@apply text-2xl font-medium w-11/12;
	font-family: FilsonPro-Medium, sans-serif !important;
}

.project-location-card {
	@apply bg-white rounded-lg p-4;
}

.more-locations {
	@apply text-light-grey-2 whitespace-nowrap;
}

.project-info-cards {
	@apply flex flex-col items-start justify-between mb-7 text-dark-grey font-medium px-6;
	font-family: FilsonPro-Medium, sans-serif !important;
}

.project-info-card {
	@apply bg-white rounded-lg h-full p-4 flex flex-col justify-between items-start;
}

.project-info-card-title {
	@apply text-input-border uppercase truncate text-xs;
}

.project-info-card-content {
	@apply text-sm font-medium;
	font-family: FilsonPro-Medium, sans-serif !important;
}
.read-more {
	@apply text-accepted font-medium cursor-pointer ml-2 px-2;
	font-family: FilsonPro-Medium, sans-serif !important;
	background: linear-gradient(
		270deg,
		#ffffff 75%,
		rgba(255, 255, 255, 0) 97.73%
	);
}

.ministry-list {
	@apply mt-5 flex items-center space-x-5 overflow-x-auto px-6;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
		width: 0px;
		background: transparent;
	}
}

.project-sdg-cards {
	@apply flex items-center p-2 max-w-full sm:w-auto rounded space-x-2 flex-shrink-0 text-sm text-white font-medium mt-3 mr-3 cursor-pointer;
	font-family: FilsonPro-Medium, sans-serif !important;
}
.no-poverty {
	background: #e4233d;
}
.zero-hunger {
	background: #dda739;
}
.good-health {
	background: #4ba145;
}
.quality-education {
	background: #c51a2d;
}
.gender-equality {
	background: #ee402b;
}
.clean-water {
	background: #29bfe6;
}
.clean-energy {
	background: #fac40f;
}
.decent-work {
	background: #a21942;
}
.industry {
	background: #fd6925;
}
.reduced-inequalities {
	background: #dd1367;
}
.sustainable-cities {
	background: #fd9d24;
}
.responsibile-consumption {
	background: #bf8b2e;
}
.climate-action {
	background: #3f7e44;
}
.below-water {
	background: #0a97d9;
}
.on-land {
	background: #56c02b;
}
.peace {
	background: #00689d;
}
.partnerships {
	background: #19486a;
}

.timeline-list {
	@apply mt-5 flex space-x-3 overflow-x-auto px-6;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
		width: 0px;
		background: transparent;
	}
}

.project-update-list {
	@apply mt-8 flex overflow-x-auto space-x-2 px-6;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
		width: 0px;
		background: transparent;
	}
}

.filler {
	@apply absolute rounded-full bg-dark-grey h-1 left-0;
}

.project-review-list {
	@apply mt-8 flex overflow-x-auto space-x-3 px-6;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
		width: 0px;
		background: transparent;
	}
}

.see-all {
	@apply text-xs text-accepted uppercase cursor-pointer border-b border-white hover:underline inline-block;
}

.map-tab {
	@apply w-1/2 text-center py-3 text-sm text-input-border font-medium cursor-pointer;
	font-family: FilsonPro-Medium, sans-serif !important;
}

.active-tab {
	@apply border-b-2 border-accepted text-dark-grey;
}

.close-button {
	@apply absolute right-0;
	z-index: 80;
}
